.video {
  margin-top: 0;
  padding-top: 40px;/*По брифу 100, но так как блок уехал на 60px вниз, чтобы оказаться на сером фоне нижнего блока, для того чтобы сохранить визуальность заданного отступа сверху, задаю ему такое значение (100-60)*/
  position: relative;
  bottom: -60px;
}
