.two-columns__brief {
  display: flex;
  align-self: flex-start;
  width: 175px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  color: #2f80ed;
  font-weight: normal;
}
